/* Reset some default styles for consistency across browsers */
:root {   
	--primary-color: #1B2838;
	--secondary-color: #00ffff;
	--thirdy-color: #fff;
	--background-color: #1B2838;
	--font-family: 'Roboto';
	--font-family-secondary: 'Agency FB Bold';
	--font-size: 16px;
	--padding: 10px;
	--margin: 10px;
	--border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set a basic style for the html and body elements */
html,
body {
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	line-height: 1.6;
}

/* Ensure the body takes up the full viewport height */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Basic container styling */
.container {
	width: 80%;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}

.lRoboto{
	font-family: 'Roboto';
}

.lFBBold{
	font-family: 'Agency FB Bold';
}