/* #region General Styles */
:root {
	--primary-color: #1B2838;
	--secondary-color: #00ffff;
	--thirdy-color: #fff;
	--background-color: #1B2838;
	--font-family: 'Roboto';
	--font-family-secondary: 'Agency FB Bold';
	--font-size: 16px;
	--padding: 10px;
	--margin: 10px;
	--border-radius: 5px;
}

/* Reset some default styles for consistency across browsers */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	line-height: 1.6;
}

/* Ensure the body takes up the full viewport height */
body {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-secondary);
	margin: var(--margin) 0;
	line-height: 1.2;
}

p {
	margin: var(--margin) 0;
	padding: var(--padding) 0;
}

ul,
ol {
	margin: var(--margin) 0;
	padding-left: 2rem;
}

ul {
	list-style: none;
}

ul li::before {
	content: "- ";
	margin-right: 8px;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-row {
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-column {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.justify-center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.align-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Chrome/KHTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
	user-select: none; /* Standard syntax */
	pointer-events: none;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* #endregion */

/* #region Landing Section */
#landingHeader {
	width: 100%;
}

#landingHeader img {
	width: 100%;
	height: 100%;
}

#secondaryHeader img {
	width: 45%;
}

/* #endregion */

/* #region About Section */
#about {
	color: var(--primary-color);
	background-color: var(--thirdy-color);
	overflow: hidden;
}

#about .title {
	text-transform: uppercase;
	font-size: 30pt;
	width: 100%;
	text-align: center;
	margin: 1.5em 0 1em 0;
}

#about .flex>div:nth-child(1) {
	width: 115%;
}

#about .flex>div:nth-child(2) #ask-picture img {
	max-width: 300px;
}

/* #endregion */